@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  margin: 0;
  overflow: overlay;
  background-color: transparent;
  transition: 0.3s background-color;
}
.custom-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 8px;
  background-clip: content-box;
  border: 2px solid transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  transition: 0s;
  background-color: rgba(0, 0, 0, 0.5);
}
